.ball-purple {
    background-color: rgba(66, 0, 255, 0.5);
    border-radius: 50%;
    width: 11.17px;
    height: 11.17px;
    margin-top: 4px;
}

.header {
    display: flex;
    padding: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
}

.div-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-header h1 {
    font-size: var(--font-size-20);
    font-style: var(--font-style);
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--color-black);
}

.logOut {
    height: 45px;
    width: 10%;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    background-color: var(--color-white);
    font-style: var(--font-style);
    font-family: var(--font-family);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-18);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.div-title {
    width: 81%;
    height: 121px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.div-title img {
    width: 35px;
    height: 35px;
}

.title {
    display: flex;
    gap: 150px;
    align-items: flex-end;
}

.title2 {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title2 h2 {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-700);
    color: var(--color-black);
}

.title p {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-22);
}

.div-container {
    margin-top: 44px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 81%;
    height: 467px;
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-container p {
    font-family: var(--font-family);
    font-style: var(--font-style);
    color: var(--color-black);
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-700);
}

.company-and-department-title {
    width: 81%;
    background-color: var(--color-blue);
    display: flex;
    height: 78px;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    gap: 20px;
}

.company-and-department-title p {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-size: var(--font-size-32);
    color: var(--color-white);
}

.company-and-department-title span {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-size: var(--font-size-32);
    color: var(--color-white);
}

.list-users {
    width: 81%;
    list-style: none;
    height: 467px;
    background-color: #f8f8f8;
    padding: 58px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 90px;
}

.card {
    border: 1px solid var(--color-blue);
    width: 405px;
    height: 76px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    padding-left: 23px;
}

.card p {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: var(--font-weight-700);
    font-style: var(--font-style);
    font-size: var(--font-size-15);
    color: var(--color-black);
}

.card span {
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: var(--font-weight-400);
    font-style: var(--font-style);
    font-size: var(--font-size-15);
    color: var(--color-black);
}